In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [60]:
df_2020 = pd.read_csv("./2020input0.csv", header=None)
df_2020 = pd.DataFrame(
    df_2020[0].str.findall("(\d+)").to_list(), columns=["x_low", "x_high", "frequency"]
)
df_2020["x_low"] = df_2020["x_low"].astype(int)
df_2020["x_high"] = df_2020["x_high"].astype(int)
df_2020["frequency"] = df_2020["frequency"].astype(int)

df_2024 = pd.read_csv("./2024input0.csv", header=None, names=["grade"]).infer_objects()
df_2024["grade"] = df_2024["grade"].astype(int)

In [62]:
df_2020.sample(5)

    x_low  x_high  frequency
11     44      48         20
1       4       8          0
14     56      60         28
24     96     100          1
12     48      52         17

In [63]:
df_2024.sample(5)

     grade
4       26
169     69
140     50
200     65
1       11

In [148]:
def calculate_mean_grouped_data(x_low, x_high, frequency):
    """
    Calculates the weighted mean of grouped data.

    Args:
        x_low: An array-like object containing the lower limits of the class intervals.
        x_high: An array-like object containing the upper limits of the class intervals.
        frequency: An array-like object containing the frequencies of each class interval.

    Returns:
        The weighted mean of the grouped data.
    """
    class_score = (x_low + x_high) / 2
    return np.sum(class_score * frequency) / np.sum(frequency)


def calculate_standard_dev_grouped_data(mean, x_low, x_high, frequency):
    """
    Calculates the weighted mean of grouped data.

    Args:
        mean: Float, the weighted mean of the distribution
        x_low: An array-like object containing the lower limits of the class intervals.
        x_high: An array-like object containing the upper limits of the class intervals.
        frequency: An array-like object containing the frequencies of each class interval.

    Returns:
        The standard deviation of the distribution
    """
    class_score = (x_low + x_high) / 2
    N = len(x_low)

    frequency_class = np.sum(frequency * class_score) ** 2 / N
    frequency_class_sq = N * np.sum(frequency * (class_score**2))
    # first = (N * np.sum(frequency * (class_score ** 2)))
    # return np.sqrt(((frequency_class_sq - frequency_class) / N))
    # return (
    #     np.sqrt(
    #         (N * np.sum(frequency * (class_score ** 2)))
    #         - (np.sum(frequency * class_score) ** 2)
    #     )
    #     / N
    # )

    # return np.sqrt(N * np.sum(frequency * (class_score ** 2)) - np.sum(frequency * class_score) ** 2) / N

    return np.sqrt(((np.sum((class_score - mean) * frequency) ** 2) / len(x_low)))

    # return np.sqrt(np.sum((class_score - mean) * frequency))
    # /len(x_low)
    # return np.sum(class_score * frequency) / np.sum(frequency)

In [149]:
mean = calculate_mean_grouped_data(
    df_2020["x_low"], df_2020["x_high"], df_2020["frequency"]
)
std_dev = calculate_standard_dev_grouped_data(
    mean, df_2020["x_low"], df_2020["x_high"], df_2020["frequency"]
)

print(f"Mean: {mean}, Standard Deviation: {std_dev}")

Mean: 63.21739130434783, Standard Deviation: 1.1368683772161603e-13

In [125]:
df_2020["x_low"] - 20

0    -20
1    -16
2    -12
3     -8
4     -4
5      0
6      4
7      8
8     12
9     16
10    20
11    24
12    28
13    32
14    36
15    40
16    44
17    48
18    52
19    56
20    60
21    64
22    68
23    72
24    76
Name: x_low, dtype: int64

In [89]:
df_2024.describe()

            grade
count  297.000000
mean    59.232323
std     13.004024
min     11.000000
25%     52.000000
50%     59.000000
75%     68.000000
max     91.000000

In [ ]:
df